@charset "utf-8";
/*======================================

 [ -Main Stylesheet-
  Theme: Lambert - intro
  Version: 1.0
  Last change: 22/05/2015 ]
*/
/*-------------Import fonts ---------------------------------------*/
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,900|Cabin:400,700|Droid+Serif:400,700|Playball);
/*-------------General Style---------------------------------------*/
html{
	overflow-x:hidden !important;
	height:100%;
}
body{
	margin: 0;
	padding: 0;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	font-size: 12px;
	color: #fff;
	background-color:#191919;
	height:100%;
	text-align:center;
}
@-o-viewport {width: device-width;}
@-ms-viewport {width: device-width;}
@viewport {width: device-width;}
/*--------------Typography--------------------------------------*/
h2 {
	font-size: 3.2em;
	font-weight: 300;
}
h3 {
	font-size: 1em;
}
/* ---------Page preload--------------------------------------*/
.loader {
	position:fixed;
	top:50% !important;
	left:50%;
	width:50px;
	height:50px;
	margin-left:-25px;
	z-index:100;
	font-size:12px;
	line-height:50px;
	color:#fff;
 
}
 
.loader img{
	-webkit-animation:k3d 3.5s infinite linear;
	-moz-animation:k3d 3.5s infinite linear;
	-o-animation:k3d 3.5s infinite linear;
	animation:k3d 3.5s infinite linear
}
@-webkit-keyframes k3d {
  0% {
    -webkit-transform: rotateY(0deg);
  }
  50% {
    -webkit-transform: rotateY(360deg);
	opacity:0.3;
  }
  100%{
    -webkit-transform: rotateY(0deg);
  }
}
@-moz-keyframes k3d {
	
  0% {
   -moz-transform: rotateY(0deg);
  }
  50% {
    -moz-transform: rotateY(360deg);
	opacity:0.3;
  }
  100%{
    -moz-transform: rotateY(0deg);
  }	
 
}
@-ms-keyframes k3d {
	
	
  0% {
    -ms-transform: rotateY(0deg);
  }
  50% {
     -ms-transform: rotateY(360deg);
	 opacity:0.3;
  }
  100%{
     -ms-transform: rotateY(0deg);
  }		
 
}
@-o-keyframes k3d {
	
  0% {
   -o-transform: rotateY(0deg);
  }
  50% {
    -o-transform: rotateY(360deg);
	opacity:0.3;
  }
  100%{
     -o-transform: rotateY(0deg);
  }		
 
}
@keyframes k3d {
0% {
  transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(360deg);
	opacity:0.3;
  }
  100%{
     transform: rotateY(0deg);
  }	
 
}
/* ---------Content Styles--------------------------------------*/
#main{
	height:100%;
	width:100%;
	position:fixed;
	overflow:auto;
	-webkit-overflow-scrolling: touch;
	top:0;
	left:0;
	z-index:2;
	opacity:0;
	color: #fff;
	background-color:#666;
	background-image:url(../images/bg-body.jpg);
	background-size: cover;
	background-attachment: fixed ;
	background-position: center ;
	background-repeat:repeat;
	background-origin: content-box;
	text-align:center;
}
 
.logo-holder {
	position:fixed;
	top:0;
	left:0;
	width:30%;
	height:100%;
}
.logo-inner {
	position:absolute;
	top:50%;
	left:0;
	width:100%;
}
.logo-inner h3 {
	color:#C59D5F;
	font-size:34px;
	padding-top:30px;
	font-family: 'Playball', cursive;
}
.content {
	float:left;
	width:70%;
	margin-left:30%;
	position:relative;
	height:100%;
}
.container{
	max-width: 1224px;
	width:92%;
	margin:0 auto;
	position: relative; 
	z-index:2;
	height:100%;
}
.box-inner{
	width:100%;
	position:absolute;
	left:0;
	top:50%;
}
.box {
	float:left;
	width:33.333333%;
	position:relative;
	padding:20px;
}
.box h4 {
	float:left;
	width:100%;
	color:#C59D5F;
	font-size:18px;
	padding-bottom:30px;
	font-family: 'Playball', cursive;
	letter-spacing:4px;
 
}
.box img {
	width:100%;
	height:auto;
}
.box ul {
	float:left;
	width:100%;
	margin-top:20px;
}
.box ul li {
	display:inline-block;
	padding:6px;
}
.box ul li a {
	color:#fff;
	font-size:14px;
	letter-spacing:2px;
		-webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
.box ul li a:hover {
	color:#C59D5F;
}
@media only screen and  (max-width: 1036px) {
.content {
	margin-left:0;
	 width:100%;
	 height:auto;
}
.logo-holder {
	position:relative;
	 width:100%;
	 height:auto;
	 padding:50px;
}
.box-inner  , .logo-inner{
	position:relative;
	top:0!important;
	margin-top:0 !important
}

}
@media only screen and  (max-width: 736px) {
.box {
	width:50%;
}
}
@media only screen and  (max-width: 540px) {
.box {
	width:100%;
}
}