#background {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(polina.jpg) no-repeat;
    background-size: cover;
}
.container h1 {
    color: rgb(59, 34, 25);
    font-family: Oswald;
	font-style: normal;
	font-variant: normal;
	font-size: 50px;
	font-weight: 500;
}

.container .form-inline{

	margin-top: 40px;
}

.container .form-control{
	
	width: 400px;
	height: 45px;
	font-size: 20px;
	font-family: Oswald;
	font-style: normal;
	-webkit-box-shadow: -4px 2px 31px 16px rgba(59, 34, 25, 0.75);
	-moz-box-shadow: -4px 2px 31px 16px rgba(59, 34, 25, 0.75);
	box-shadow: -4px 2px 31px 16px rgba(59, 34, 25, 0.75);
}

.container button{

	color: white;
	border-width: 0px;
	height: 45px;
	width: 100px;
    font-family: Oswald;
	font-style: normal;
	font-variant: normal;
	font-size: 18px;
	font-weight: 200;
	background: rgb(59, 34, 25);
}

.text-bottom{

	margin-top: 30%;

}

.align-center{

	margin: 0 auto;
}

#content {
  -webkit-animation-duration: 22s;
  -webkit-animation-delay: 2s;

  -moz-animation-duration: 22s;
  -moz-animation-delay: 2s;
}

sfondo_mobile

@media(max-width: 768px) {
    #background {
        display: none;
    }

    body{

    	background: white;
    }

    #content {
	  -webkit-animation-duration: 0s;
	  -webkit-animation-delay: 0s;

	  -moz-animation-duration: 0s;
	  -moz-animation-delay: 0s;

	  background: url(img/sfondo_mobile.jpg) no-repeat;
	  background-size: cover;
	}

} 
/*
#content{
	
	position: fixed; right: 0; bottom: 0;
	min-width: 100%; min-height: 100%;
	width: auto; height: auto; z-index: -100;
	background: url(background.jpg) no-repeat;
	background-size: cover;
	background: white;
}*/